/* banner */

body {
  background-color: #17262D;
}

.hr-verde {
  opacity: 1;                
  border: none;               
  height: 0.8px;               
  background-color: #CFEC95;  
  display: block;
  margin: auto;
  max-width: 750px;
}
.carousel-item img {
  height: 750px; 
  object-fit:cover; 
}

.btn {
  background-color: #CFEC95; 
  transition: all 0.3s ease; 
  color: #17262D;
}

.btn:hover {
  background-color: #b6d87e; 
  transform: scale(1.03); 
  box-shadow: 0 4px 15px rgba(0,0,0,0.2); 
  color: #17262D;
}

.callForAction {
  background-color: #17262D;
  color: #17262D;
  max-width: 1000px;
  margin: auto;
}

.callForAction .titleCallforAction {
  color: #17262D;
}


/* Mision y vision */

.misionyvision {
  background-color: #17262D;

}

.misionyvision img {
  max-height: 400px;
}

.misionyvision .card {
  max-width: 400px;
  margin: auto;
}

/* Testimonios */

.testimonios {
  max-width: 1000px;
  margin: auto;
}

.testimonios .card {
  border: 8px solid #CFEC95 !important;
}


/* Menu linea */

.menu-button {
    background-color: #CFEC95; 
    transition: all 0.3s ease; 
  }

.menu-button:hover {
    background-color: #b6d87e; 
    transform: scale(1.03); 
    box-shadow: 0 4px 15px rgba(0,0,0,0.2); 
  }

  /* Blog Casa Verde */

.menu_foodSection {
    background-color: #17262D;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  /* FAQ */

.faqSection {
    background-color: #17262D;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .accordion-button:hover {
  background-color: #CFEC95; 
  color: #17262D; 
}

.accordion-button:not(.collapsed) {
  background-color: #CFEC95; 
  color: #17262D;
  box-shadow: none; 
}