
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: #042A51;
}

header img {
  width: 200px;
  padding: 30px;
}

#chk1{
    display: none;
}

i{
    color: #fff;
    cursor: pointer;
}

header .logo {
    flex: 1;
    color: #fff;
    margin-left: 50px;
    text-transform: uppercase;
}

header .search-box {
    flex: 1;
    position: relative;
}

.search-box input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    text-align: center;
    padding-left: 5px;
    padding-right: 40px;

}

.search-box button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background: #F68A5A;
}

header ul {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

header ul li {
    list-style: none;
}

header ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    padding: 10px 15px;
}

header ul li a:hover {
    border-bottom: 2px solid #F68A5A;
}

header.menu {
    font-size: 2.5em;
    display: none;

}


/* -------------------------------------------- */

#banner {
    position: relative;
    background: url("/imagenes/banner.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
    color: whitesmoke;
  
    display: flex;
    align-items: center;       /* Centra verticalmente */

    .bigheadline {
        font-weight: 650;
        font-size: 80px;
        position: relative;
        z-index: 2;
    }

    .smallLine {
        position: relative;
        z-index: 2;
    }
  }

#banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  z-index: 1;
}


.textBanner {
    padding-left: 80px;   
}

.icon-space {
    margin-right: 8px; /* Adjust spacing as needed */
  }

  /* CURSOS */

  #cursos {
    font-weight: 500;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
  }

  .cursosSection {
    background-color: #042A51;
    color: whitesmoke;
  } 

  .curso-card {
    background-color: rgba(255, 255, 255, 0.904);
    color: black;
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
  }

  .curso-card img {
    background-color: white;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 1rem;
  }

  .curso-card .btn {
    background-color: #042A51;
    color: white;
    font-weight: bold;
    border: none;
  }

  .curso-card .btn:hover {
    background-color: #F68A5A;
  }

  /* Sobre nosotros */

  #aboutUs {
    position: relative;
    background: url("/imagenes/banner2.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
    color: whitesmoke;
    display: flex;
    align-items: center;       /* Centra verticalmente */

    .section-title {
        font-weight: 550;
        font-size:40px;
        position: relative;
        z-index: 2;
        margin-bottom: 20px;
    }

  .aboutUsTitle {
        font-weight: 400;
        font-size: 20px;
        position: relative;
        z-index: 2;
    }

    .aboutUsP {
        font-weight: 200;
        font-size: 15px;
        position: relative;
        z-index: 2;
        max-width: 600px;
        width: 100%;
    } 
    

    
  }

  #aboutUs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.836); 
  z-index: 1;
}

#aboutUs video {
    position: relative;
    z-index: 2;
}



/* Testimonios */



.testimonial_area {
    width: 100%;
    padding-left: 0 15px 0 0;
    border: 3px solid #042A51;
}

.left_sec {
    background-color: #042A51;
    height: 600px;
    padding: 12rem 10rem 0 12rem;
    position: relative;
}

.left_sec h3 {
    font-size: 54px;
    color: white;
    font-weight: 650;

}

.right_sec {
    padding: 8rem 8rem 6 rem 8rem;
    text-align: center;
}

.right_sec h4 {
    margin-top: 80px;
    font-size: 20px;
    font-weight: 300;
    color: black;
}

.text_carousel {
    padding: 2rem;
}

.text_carousel p {
    font-size: 18px;
    line-height: 30px;
    min-height: 150px;
    margin: 0
}

.text_carousel h5 {
    font-weight: 600;
    color: #042A51;
    font-size: 18px;
    margin-bottom: 2rem;
}

.text_carousel .carousel-indicators li {
    background-color: #000;
    margin-left: 15px;
    margin-right: 15px;
}

.text_carousel .carousel-indicators li.user1 {
    background-image: url("/imagenes/user1.jpeg");
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100%; 
    border-radius: 30px;
    background-color: transparent;
}

.text_carousel .carousel-indicators li.user2 {
    background-image: url("/imagenes/user2.jpeg");
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100%; 
    border-radius: 30px;
    background-color: transparent;
}

.text_carousel .carousel-indicators li.user3 {
    background-image: url("/imagenes/user3.jpeg");
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100%; 
    border-radius: 30px;
    background-color: transparent;
}

.text_carousel .carousel-indicators li.active {
    width: 60px;
    height: 60px;

}

.text_carousel .carousel-indicators {
    bottom: -4rem;
}

.text-block {
  max-width: 700px;  
  margin: 0 auto;
}


/* Nuestros profesionales */

.videosection h4 {
    font-size: 40px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #042A51;
    padding-bottom: 25px;
}

.videosection {
    font-size: 18px;
    color: black;
    font-weight: 300;

}

/* contacto */

.contactUssection {
  background-color: #042A51;
  color: white;
  text-align: center;

}

.section-title2 {
  display: inline-block;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.list-inline-item i {
  font-size: 40px;
  color: white;
  transition: transform 0.3s ease;
}

.list-inline-item i:hover {
  transform: scale(1.2);
  color: #F68A5A;
}

/* carusel */

.fotossection .carousel {
   background-color: #042A51;
   padding:40px;
}



.carousel img {
  max-width: 100%;
  height: 600px;
}

footer {
    color: #042A51;
    background-color: white;
}
